ul.social-network {
    list-style: none;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0;
    padding: 5px;
}


a.link{
    color: #535c68;
    text-decoration: none;
    display: inline-block;
    transition: all 300ms ease;
}

a.link:hover{
    color: var( --color-yellow);
    transform: translateX(8px)
    /* transform: scale(0.98); */
}

.color{
    background-color: var(--color-yellow);
}

.textLinha{
    /* text-decoration: underline; */
    color: #57606f;
    font-weight: bold;
    font-size: 18px;
}

.clr{
    color: #535c68;
    
}