<!-- <-- <footer class="page-footer font-small bg-info pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-secondary">Siga-nos nas redes sociais</h4>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
    
                <ul class="social-network"> 
                    <li>
                        <a href="https://www.linkedin.com/in/aretha-queiroz/" target="_blank" class="iconlinkedin">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/ArethaQ" target="_blank" class="icongithub">
                            <i class="fa fa-github-alt" aria-hidden="true"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="https://www.instagram.com/miss.queiroz/" target="_blank" class="iconinstagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
    
                </ul>
    
            </div>
        </div>
    </div>
    
    <div class="footer-copyright bg-dark text-center py-3">
    <span class="text-light">Janela Viva © 2022</span> -->
    <!-- <a class="text-align" target="_blank" href="https://brazil.generation.org/">brazil.generation.org</a> -->
    <!-- </div>
    </footer>  -->


    
<footer class="text-center text-lg-start text-muted" style="background-color: rgba(209, 213, 213, 0.02);">

    
    <div class="d-flex justify-content-center">
    <div class="container mt-5">
    
        <div class="row mt-0 mb-1">
        
        <div class="d-flex col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            
                <img src="../../assets/img/Group.svg" alt="imagem_do_jorge" width="200px" height="36px" class="img-fluid">
            
        </div>
        
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

            <p class="textLinha mb-3">Início</p>

                <ul class="list-unstyled">
                    <li><a class="link" href="" routerLink="/entrar">Home</a></li>
                    <li><a class="link" href="" routerLink="/sobre">Sobre</a></li>
                    <!-- <li><a class="link" href="" routerLink="/entrar">Login</a></li> -->
                    <li><a class="link" href="" routerLink="/cadastrar">Cadastre-se</a></li>
                </ul>  
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

            <p class="textLinha mb-3">Sobre nós</p>

                <ul class="list-unstyled">
                    <li><a class="link" href="" routerLink="/">Equipe</a></li>
                    <li><a class="link" href="" routerLink="/">Nosso objetivo</a></li>
                    <li><a class="link" href="" routerLink="/"></a></li>
                </ul>
            
        </div>


        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

            <p class="textLinha mb-3">Suporte</p>

            <ul class="list-unstyled" >
                <li><a class="link" href="">FAQ</a></li>
                <li><a class="link" href="">Chat</a></li>
                <li><a class="link" href=""></a></li>
            </ul>
        
        </div>
        
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-1 mb-4">
        
            <p class="textLinha mb-3">Contato</p>

            <ul class="list-unstyled">
                <li class="clr mb-1"><i class="fa fa-whatsapp" aria-hidden="true"></i> (81) 0000-0000</li>
                <li class="clr mb-1"><i class="fa fa-map-marker" aria-hidden="true"></i> Recife, PE 10000, BR</li>
                <li class="clr mb-1"><i class="fa fa-envelope-o" aria-hidden="true"></i> janelavivageneration@gmail.com</li>
            </ul>
            
        </div>
        
        </div>
        
    </div>
    </div>
    

    <div class="text-center fw-bolder texte-dark p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        Copyright© 2022 JANELA VIVA
    </div>
    
</footer> 





<!-- <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Equipe
            </h6> -->