<div class="container-fluid" id="bg-color-red">
        <div class="row d-flex">
                <div class="col-md-6 mt-5 mb-5">
                        
                                <div class="row d-flex justify-content-start mt-3 ml-2">
        
                                        <div class="col-md-10">
                                                <h2 class="fonte">A Problemática</h2> 
                                                <p class="mt-3 text-justify font"> <span>5,4 MILHÕES DE MORADIAS</span>, esse é o 
                                número que representa a estimativa do <span>déficit habitacional</span> brasileiro segundo os dados mais recentes do IPEA. Isso significa que precisariam de pelo menos 5,4 milhões de habitações para atender toda a população brasileira que não tem uma moradia ou que vive em condições precárias de habitação.</p>
                                                <p class="text-justify font">Em contraponto, um fenômeno comum em centros históricos de várias capitais brasileiras e bastante evidente no Centro do Recife é a <span>baixa densidade de ocupação de imóveis</span>, os quais boa parte se encontram em situação de abandono. No Recife é a RPA1 que apresenta o maior índice de edificações ociosas, na qual o bairro de Santo Antônio lidera o ranking com “incríveis” 41,15% de desocupação... 
                                (Fonte: habitatbrasil.org.br)</p>
                                <div class="row d-flex justify-content-center mt-4">
                                        <img src="../../assets/img/janela-mulher-cortina.svg" alt="Desenho de uma mulher numa janela" class="mt-3">
                                </div>
                                        </div>
                                        
                                        
                                </div>
                </div>
                <div class="col-md-6 mt-5 mb-5">
                        <div class="row d-flex justify-content-center">
                                <img src="../../assets/img/janela-menino-lendo.svg" alt="Desenho de um menino lenda na janela" class="mt-5">
                        </div>
                        <div class="col-md-10">

                        <div class="row d-flex justify-content-center mt-5 ml-1">
                                <h5 class="it font">“Tanta gente sem casa, tanta casa sem gente...”</h5>
                                <p class="mt-3 text-justify font">Trata-se de edificações particulares totalmente entregues ao abandono, com anos de IPTU atrasado. Segundo o 
                                <span>Estatuto da Cidade</span>, legislação responsável por “regular o uso da propriedade urbana em prol do bem coletivo”, a partir de 5 anos sem uso o município já tem o direito de intervir juridicamente e se responsabilizar por dar um uso à edificação. Porém, faltam iniciativas do Estado para realizar as ações jurídicas, sociais e os projetos de requalificação necessários para que a função social do imóvel seja reestabelecida.</p>
                        </div>
                </div>
                </div>
        </div>
</div>




<div class="container-fluid" id="bg-color-blue">
        <div class="row d-flex">
                
                <div class="col-md-6 mt-5 mb-5">
                        <div class="row d-flex justify-content-center">
                                <img src="../../assets/img/varanda-senhora-empe.svg" alt="Desenho de um menino lenda na janela" class="mt-5">
                        </div>
                        
                        <div class="col-md-10">
                        
                                <div class="row d-flex justify-content-center mt-3 ml-1">
                                        <div class="col-md-12">
                                                <h2 class="font">O Projeto</h2> 
                                                <h5 class="mt-3 font">Objetivo:</h5>
                                        </div>
                                        <div class="col-md-12">
                                                <p class="mt-3 text-justify font">A rede social <span>Janela Viva</span> tem objetivo de conectar pessoas voluntárias a ações sociais. Tais ações tem como foco a problemática do déficit habitacional existente na cidade do Recife e a alta taxa de ociosidade de imóveis nas regiões centrais da cidade. Sendo assim, o intuito da rede é estabelecer conexões e facilitar a comunicação acerca de mobilizações específicas que enquadrem nessa problemática. </p>
                                                <h5 class="font">O que se pretende alcançar:</h5>
                                                <p class="mt-3 text-justify font">A partir de seus objetivos específicos, a intenção é que a rede alcance o objetivo geral de amenizar o problema da precariedade ou ausência de habitações para parte da população a partir da utilização de imóveis abandonados do centro do recife  como moradia.</p>
                                        </div>
                                </div>
                                
                                
                                
                </div>
                </div>

                <div class="col-md-6 mt-5 mb-5">
                        
                        <div class="row d-flex justify-content-start mt-5 ml-3">

                                <div class="col-md-10">
                                        
                                        <h5 class="font">O funcionamento da rede:</h5>
                                <p class="mt-3 text-justify font">Para utilizar a rede, o usuário precisará realizar um cadastro, onde ele definirá o seu tipo: <span>voluntário</span> ou <span>ação</span>. Os usuários do tipo ação são as entidades (ONGs, instituições ou o próprio Governo do Estado) que desejam engajar alguma ação específica, criando, para tal, um evento relacionado a ela e nesse evento serão fornecidas as informações sobre tal ação. Os usuários do tipo voluntário são as pessoas físicas que desejam contribuir com tais ações de forma, claro, voluntária. Na utilização da rede, o usuário voluntário poderá escolher algum <span>evento</span> para se conectar e só poderá participar de um por vez. Através da conexão com esse evento o usuário voluntário poderá acompanhar as informações a respeito da ação e se comunicar com os demais voluntários cadastrados, para organizar como eles irão aplicar suas habilidades para então contribuir com o andamento da ação.</p>
                        <div class="row d-flex justify-content-center mt-5">
                                <img src="../../assets/img/varanda-mulher-alongando.svg" alt="Desenho de uma mulher se alongando numa janela" class="mt-3">
                        </div>
                                </div>
                                
                                
                        </div>
        </div>
        </div>
</div>

<div class="container-fluid" id="bg-sobre">

        <div class="row d-flex ml-4">
                <div class="col-md-12 mt-5">
                        <h2 class="font">Quem somos?</h2>
                        <p class="font">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam rem quibusdam aliquam animi. Natus voluptas eius doloremque soluta delectus aperiam reiciendis aliquid numquam, consectetur accusantium eum. Voluptas, dignissimos necessitatibus? Quidem?</p>
                        
                </div>
        </div>
        
        <div class="col-md-12 d-flex justify-content-center">
                <img src="../../assets/img/bg-sobre.png" alt="fotos da equipe">
        </div>
        

</div>

