<nav class="navbar navbar-expand-lg navbar-light bg fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
            <img src="../../assets/img/logo.svg" alt="imagem_do_jorge" width="200px" height="36px" class="img-fluid">
        </li>
        
    </ul>

    <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item pl-3">
            <a class="m-0 font-weight-bold text-warning fs-16 text" routerLink="/entrar">Home</a>
          </li>
          <li class="nav-item dropdown ml-auto d-flex align-items-center m-0 font-weight-bold ">
            <a class="nav-link dropdown-toggle text-warning fs-16" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Sobre</a>
            <div class="dropdown-menu bg-dropdown">
              <a class="dropdown-item m-0 font-weight-bold text-warning fs-16" href="#">A Problemática</a>
              <a class="dropdown-item m-0 font-weight-bold text-warning fs-16" href="#">O Projeto</a>
              <a class="dropdown-item m-0 font-weight-bold text-warning fs-16" href="#">Quem Somos</a>
            </div>
          </li>
        <li class="nav-item pl-3">
            <a class="m-0 font-weight-bold fs-16 btn btn-outline-warning rounded-1" routerLink="/cadastrar">Cadastrar</a>
          </li>
    </ul>

</div>
  </nav>
