<div class="login-container" id="bg-img">
  <div class="container-left">
    <div class="form-area">
      <h1>Login</h1>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="usuario"
          placeholder="DIGITE SEU EMAIL"
          [(ngModel)]="usuarioLogin.usuario"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          name="senha"
          placeholder="DIGITE SUA SENHA"
          [(ngModel)]="usuarioLogin.senha"
        />
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-main" (click)="entrar()">
          Entrar
        </button>
      </div>
      <p><a href="">Esqueceu sua senha?</a></p>
    </div>
  </div>
  <div class="container-right">
    <p>JANELA VIVA É UMA REDE QUE CONECTA PESSOAS À AÇÕES</p>
  </div>
</div>
