<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>
<!-- INÍCIO DO CONTÊINER QUE POSSUI TODOS OS COMPONENTES DE MENU -->
<div class="container-fluid">
  <div class="row border mt-5">
    <!-- INÍCIO DO COMPONENTE COM AS INFORMAÇÕES DA PESSOA USUÁRIA-->
    <div class="col-md-3">
      <div class="card card-shadow" style="width: 80%; margin: 0 auto">
        <div class="app-user-profile-wrapper">
          <app-user-profile></app-user-profile>
        </div>
        <div class="card-body card-align-center">
          <h5 class="card-title">Nome Usuário</h5>
          <div class="star-section">
            <img src="../../assets//img/star-full.svg" alt="" />
            <img src="../../assets//img/star-full.svg" alt="" />
            <img src="../../assets//img/star-full.svg" alt="" />
            <img src="../../assets//img/star-empty.svg" alt="" />
            <img src="../../assets//img/star-empty.svg" alt="" />
          </div>
          <div class="description-section">
            <p class="description">Uma breve descrição das habilidades aqui</p>
          </div>

          <div class="event-section">
            <h5>Nome do Evento Atual</h5>
            <ul>
              <li>
                <a href="#">Cronograma de atividades</a>
              </li>
              <li>
                <a href="#">Participantes</a>
              </li>
            </ul>
          </div>
          <div class="event-history-section">
            <ul>
              <li>
                <a href="#">Eventos que já participei</a>
              </li>
              <li>
                <a href="#">Minhas conexões</a>
              </li>
              <li>
                <a href="#">Minhas avaliações</a>
              </li>
              <li>
                <a href="#">Quem viu meu perfil</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- FIM DO COMPONENTE COM AS INFORMAÇÕES DA PESSOA USUÁRIA-->

    <div class="col-md-5">
      <!-- INÍCIO DO COMPONENTE PARA ESCRITA DE COMENTÁRIOS -->
      <div class="card card-shadow mb-4">
        <div class="row">
          <div
            class="col-md-3 d-flex -align-items-center justify-content-center"
          >
            <div class="app-user-profile-wrapper">
              <app-user-profile></app-user-profile>
            </div>
          </div>
          <div class="col-md-9 mb-4">
            <div class="publish-section">
              <textarea
                class="mt-5 textarea"
                placeholder="Começar uma publicação"
                style="resize: none"
              ></textarea>
              <div class="media-upload-section">
                <img src="../../assets/img/file-logo.svg" alt="" />
                <p>Upload de mídia</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- FIM DO COMPONENTE PARA ESCRITA DE COMENTÁRIOS -->

      <!-- INÍCIO DO COMPONENTE DE PUBLICAÇÃO -->
      <div class="card card-shadow" style="width: 100%">
        <div class="card-header">
          <div class="app-user-profile-wrapper">
            <app-user-profile></app-user-profile>
          </div>
          <div class="card-header-user-info">
            <h5>Nome do Usuário</h5>
            <p>Descrição do Usuário</p>
            <small>7h atrás • <img src="../../assets/img/world.svg" /></small>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nisi
            ea accusantium minus quos consectetur amet harum ad assumenda sint!
          </p>
        </div>
        <div class="card-body-image-area">
          <!-- IMAGEM DA POSTAGEM AQUI -->
        </div>
        <div class="like-comment-area">
          <div class="like">
            <img src="../../assets/img/like.svg" alt="botão de curtir" />
            <span>2</span>
          </div>
          <span>1 comentário</span>
        </div>
        <div class="like-comment-action-area">
          <div class="like-action-area">
            <img
              src="../../assets/img/like-big.svg"
              alt="botão de ação de curtir"
            />
            <span>Gostei</span>
          </div>
          <div class="comment-action-area">
            <img
              src="../../assets/img/twitch-logo.svg"
              alt="botação de ação de comentar"
            />
            <span>Comentar</span>
          </div>
        </div>
        <div class="comment-area"></div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card card-shadow" style="width: 80%; margin: 0 auto">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>
